.FAQ main{
  padding-bottom:70px;
}
.FAQ .ui-accordion .ui-accordion-header{
  position: relative;
  padding: 31px 110px 31px 75px;
  border:0;
  box-shadow: 0px 6px 10px #00000017;
  background-color: #FFF;
  margin-bottom: 30px!important;
  border-radius: 8px;
  font-size: 1.333em!important;
}
.FAQ .ui-accordion .ui-accordion-header p{
  margin:0!important;
}
.FAQ .ui-accordion .ui-accordion-header.ui-state-active{
  color:#000;
  border-radius: 8px 8px 0px 0px;
  background-color: #F7F7F7;
  box-shadow: none;
  margin-bottom: 0!important;
}
.FAQ .ui-accordion-header-icon{
  display:block;
  width:52px;
  height:52px;
  background-image: url('../img/btnPlus.svg')!important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center!important;
  position: absolute;
  top:50%;
  right:37px;
  transform: translateY(-50%);
}
.FAQ .ui-state-active .ui-accordion-header-icon{
  background-image: url('../img/btnMoins.svg')!important;
}
.FAQ .ui-accordion-content-active{
  padding: 0px 100px 31px 125px!important;
  border-radius: 0px 0px 8px 8px;
  border:0;
  background-color: #F7F7F7;
  margin-bottom:30px;
  font-size: 1.222em!important;
}
.FAQ .ui-accordion-content-active p:first-child{
  margin:0;
}
.FAQ .blocTaxoLettre {
  padding:42px 0;
  width: 100%;
  justify-content: center;
}
.FAQ .blocTaxoLettre .lettre{
  display:flex;
  align-items: center;
  list-style: none;
  justify-content: center;
}
.FAQ .blocTaxoLettre .lettre ul{
  display:flex;
  align-items: center;
}
.FAQ .blocTaxoLettre .lettre a{
    text-decoration: none;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 1.111em;
    color:#000;
}
.FAQ .blocTaxoLettre .lettre ul li{
  list-style: none;
}
.FAQ .blocTaxoLettre .lettre ul li.current-cat a,.FAQ .blocTaxoLettre .lettre a.current-cat{
  text-decoration: underline;
  font-weight: bold;
  color:#0388DC;
}
