.questionnaires{
  position:relative;
  background-color: #DAEEFB;
  margin-top:120px;
  padding-bottom: 61px;
  padding-top:20px;
}
.questionnaires:before{
  content:'';
  display: block;
  width:100%;
  height:90px;
  background-color: #DAEEFB;
  border-radius:100%;
  position: absolute;
  bottom:100%;
  left:0;
  transform: translateY(  50%);
  z-index:1;
}
.questionnaires .content{
  position:relative;
  z-index:2;
  justify-content: space-between;
}
.questionnaires .content > div{
  width:calc((100% - 40px) / 2);
  background-color: #fff;
  align-items: center;
  padding: 45px 4%;
  flex-direction: column;
  text-align: center;
}
.questionnaires .content > div h2{
  color:#000;
  font-size: 1.286em;
  font-weight: bold;
}
.questionnaires .content > div h2{
  color:#000;
  font-size: 1.286em;
  font-weight: bold;
}
.questionnaires .content > div p{
  font-size: 1.111em;
}
.questionnaires .blocBtn .btnBleu,.questionnaires .blocBtn .btnBlanc{
  margin: 0 7px;
}
